* {
    box-sizing: border-box;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('../img/Фон\ 1.png');
    background-size: cover;
}
.header {
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    padding-top: 18px;
    padding-bottom: 18px;
    text-decoration: none;
    padding-left: 79px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
}
.logo:hover {
     color: #01813F;
     transition: all 1s ease-out;
     transform: scale(1.2);
}
.text_icon {
    display: flex;
    align-items: center;
    padding-right: 79px;
}
.icon {
    padding-right: 54px;
}
.icon a:not(:first-child) {
    padding-left: 27px;
}
.logo_icon:hover {
    filter: invert(55%) sepia(72%) saturate(365%) hue-rotate(96deg) brightness(96%) contrast(90%);
    transition: all 1s ease-out;
    transform: scale(1.2);
}
.logo_text, .logo_text a{
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    text-decoration: none;
}
.logo_text a:hover {
    color: #01813F;
    transition: all 1s ease-out;
}
.main {
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
}
.form {
    width: 444px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sign_up {
    padding-top: 31px;
    min-width: 322px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sign_up span {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
    position: relative;
}
.sign_up span::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    left: -61px;
    top: -1px;
    background: #3CB878;
}
.sign_up a {
    text-decoration: none;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}
.sign_up a:hover {
    text-decoration: underline;
    color: #01813F;
    transition: all 1s ease-out;
    transform: scale(1.2);
}
.btns {
    padding-top: 15px;
    min-width: 322px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.btn {
    width: 157px;
    padding: 17px 0 17px 66px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    position: relative;
}
.btn::after {
    content: "";
    display: block;
    width: 1px;
    height: 28px;
    position: absolute;
    background: #0A162F;
    top: 12px;
    right: 109px;
    opacity: 0.1;
}
.btn:hover {
    transition: all 1s ease-out;
    transform: scale(1.05);
    z-index: 1;
}
.facebook {
    background-color: #305DB8;
    position: relative;
}
.facebook::before {
    position: absolute;
    content: url('../img/f\ 1.svg');
    top: 12px;
    left: 17px;
}
.facebook:hover {
    background: #022263;
}
.google {
    background: #DF4A32;
}
.google::before {
    position: absolute;
    content: url('../img/g+.svg');
    top: 10px;
    left: 13px;
}
.google:hover {
    background: #AB1F09;
}
.or {
    padding-top: 31px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #848484;
    position: relative;
}
.or::before {
    content: "";
    display: block;
    width: 152px;
    height: 1px;
    position: absolute;
    background: #F2F2F2;
    right: 16px;
    bottom: 6px;
}
.or::after {
    content: "";
    display: block;
    width: 152px;
    height: 1px;
    position: absolute;
    background: #F2F2F2;
    left: 16px;
    bottom: 6px;
}
.input {
    min-width: 322px; 
    padding: 15px 0 15px 19px;
    margin-top: 15px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}
.input:focus {
    outline:none;
    border: 1px solid #F2F2F2;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    color: #434343;
}
.label {
    padding-top: 12px;
    min-width: 322px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}
/* .checkbox_agree {
    width: 20px;
height: 20px;
left: 62px;
top: 460px;

background: rgba(0, 0, 0, 0.0001);
border: 1px solid #F2F2F2;
}  */
.label a {
    text-decoration: none;
    color: #3CB878;
}
.label a:hover {
    text-decoration: underline;
    color: #01813F;
    transition: all 1s ease-out;
}
.submit {
    width: 324px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px; 
    border: none;
    margin-top: 20px;
    margin-bottom: 38px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}
.submit:hover {
    background: #01813F;
    transition: all 1s ease-out;
    transform: scale(1.05);
}
